body{
    background: #e9ecef;
    background: linear-gradient(180deg, #cbdbd6 0%, #dcdfe1 100%);
    background-attachment: fixed;
}
.logo{
    width: 40px;
}
header .btn {
    font-size: 12px !important;
    font-weight: 700;
}
header .btn:hover {
    color: red !important;
    font-weight: 700;
    background-color: rgb(249, 226, 226);
}

img{
    max-width: 180px;
    transition: transform .2s;
}
.cardHover img:hover{
    transform: scale(1.3); 
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap : 2rem;
}